.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;
  }


.logo {
    position: absolute;
    left: 45px;
  }

  .logo img {
    height: 20px;
  }

  .menu {
    display: flex;
    gap: 20px;
    margin-left: auto;
  }

  .menu a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 700;
  }

  .menu a::after {
    content: '|';
    margin-left: 10px;
    color: black;
  }

  .menu a:last-child::after {
    content: '';
  }

  .menu a:hover {
    cursor: pointer;
    color: grey;
  }

  @media (max-width: 1068px) {
    .toolbar {
      display: none;
    }
  }